<div class="container">
  <div class="logo_container">
    <h1 class="name"><span class="white">JOSUÉ</span> LEDO</h1>
  </div>

  <div class="menu">
    <li class="item">
      <a href="#"> HOME </a>
    </li>
    <li class="item2">
      <a href="#about"> SOBRE </a>
    </li>
  </div>

  <a
    href="https://wa.me/5533988711659?text=Quero%20fazer%20um%20or%C3%A7amento%21"
    target="_blank"
    rel="noopener noreferrer"
    class="link"
  >
    <div class="start">
      <button>COMECE AGORA</button>
    </div>
  </a>
  <div class="responsive" [ngClass]="{ active: isActive }">
    <div class="bars" (click)="menu()">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>

    <div class="content">
      <div class="menu">
        <li>
          <a href="#"(click)="menu()"> Home </a>
        </li>
        <li>
          <a href="#about" (click)="menu()"> Sobre </a>
        </li>
        <li>
          <a href="#portifolio" (click)="menu()">Portifólio</a>
        </li>
        <li>
          <a href="#email" (click)="menu()"> E-mail </a>
        </li>
      </div>
      <button>COMECE AGORA</button>
    </div>
  </div>
</div>
