<div class="container">
    <ul class="header">
        <li>
            <span>My <span class="services">Services</span></span>
        </li>     
        <li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eum laudantium.</p>
        </li>
    </ul>

    <div class="card_container">
        <div class="card">
            <div class="title">UI/UX Design</div>
            <div class="image"></div>
            <div class="button">
                <fa-icon [icon]="faArrowUp"></fa-icon>
            </div>
        </div>
    </div>
</div>