<div class="container">

    <div class="name_container">
        <button class="hello_button">Hello!</button>
        <span>I'm <span class="name">Josué,</span></span>
        <span>Web Developer</span>
    </div>

    <div class="image_container">
        <img src="" alt="">
        <div class="circle"></div>
    </div>
    <div class="content_left">
        <fa-icon [icon]="faQuoteLeft"></fa-icon>

        <p>Josué's exceptional web developer ensured our website's sucess.<br>Highly recommended!</p>
    </div>
    <div class="content_right">
        <div class="icon">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>

        </div>
        <span class="years">2 Years</span>
        <span>Experts</span>
        <div class="line"></div>
    </div>

    <div class="button_container">
        <button class="portifolio">Portifólio</button>
        <button>Hire me</button>
    </div>
</div>
<app-section2></app-section2>
