<app-header></app-header>
<div class="container">
  <div class="name_container" #name>
    <button class="hello_button">
      Hello!

      <div class="lines">
        <div class="line1"></div>
     <img src="./asset3.png" alt="linhas">
      </div>
    </button>

    <span>I'm <span class="name">Josué,</span></span>
    <span>Web Developer</span>
  </div>

  <div class="image_container">

    <img src="/eu1.png" alt="josué ledo" />
    <div class="circle">
    </div>
  </div>
  <div class="content_left" #item1>
    <fa-icon [icon]="faQuoteLeft"></fa-icon>

    <p>
      Sou um desenvolvedor web apaixonado por criar experiências digitais eficientes, modernas e focadas em resultados.
    </p>
  </div>
  <div class="content_right" #item2>
    <div class="icon">
      <fa-icon [icon]="faStar"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
    </div>
    <span class="years">2 Anos</span>
    <span>Experiência</span>
    <div class="line"></div>
  </div>

  <div class="button_container">

    <a href="#portifolio">
      <img src="./asset1.png" alt="arrow">

        <button class="portifolio">Portifólio</button>
    </a>
    <a
      href="https://wa.me/5533988711659?text=Quero%20fazer%20um%20or%C3%A7amento%21"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button>Contato</button>
    </a>
  </div>
</div>
<app-button></app-button>
<app-section2 id="portifolio"></app-section2>
<app-section3></app-section3>
<app-section6></app-section6>
<app-section5></app-section5>
<app-section4></app-section4>
<app-footer></app-footer>
