<div class="container">
  <div class="circle"></div>
  <ul class="header">
    <li>
      <span>Meu <span class="services">Portifólio</span></span>
    </li>
    <li>
      <p>
        Projetos criados com foco em design, performance e resultados reais.
      </p>
    </li>
  </ul>

  <div class="card_container">
    <div class="card card1" #box>
      <div class="title">Landing Page</div>
      <div class="image"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="background_button"></div>
      <div class="button">
        <a href="https://www.lacatitasports.com/">
          <fa-icon [icon]="faArrowUp"></fa-icon>
        </a>
      </div>
    </div>
    <div class="card active card2">
      <div class="title">Loja  UI</div>
      <div class="image"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="background_button"></div>
      <div class="button">
        <a href="https://loja-de-roupas-ten.vercel.app/">

            <fa-icon [icon]="faArrowUp"></fa-icon>
        </a>
      </div>
    </div>
    <div class="card card3">
      <div class="title">Porche</div>
      <div class="image"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="background_button"></div>
      <div class="button">
        <a href="https://josueledo.github.io/Porsche/">
            <fa-icon [icon]="faArrowUp"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
