<div class="container">
    <h1>Tem uma ideia incrível de projeto? <span>Vamos conversar!</span></h1>

    <div class="input_container">
        <fa-icon [icon]="faEnvelope"></fa-icon>

        <input type="text" placeholder="Digite seu E-mail">
        <button>Agendar</button>
    </div>

    <ul>
        <li>
            <fa-icon [icon]="faCheck"></fa-icon>

            <span>4.9/5 Average Ratings</span>
        </li>
        <li>
            <fa-icon [icon]="faCheck"></fa-icon>

            <span>+25 Winning Awards</span>
        </li>
        <li>
            <fa-icon [icon]="faCheck"></fa-icon>

            <span>Certified Product Designer</span>
        </li>
    </ul>
</div>