@import "../../../styles.scss";

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding: 180px 4px;
    gap: 70px;

    .title {
        font-size: 3rem;
        font-weight: 400;
        padding: 0px 40px;
    }

    .steps {
        width: 100%;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;

        li {
            display: flex;
            width: 600px;
            align-items: center;
            justify-content: center;
            gap: 20px;
            transition: all .3s;

            &.active {
                transition: all .3s;

                .icon {
                    transition: all .3s;
                    width: 40px;
                    height: 40px;
                    background-color: var(--primary);
                    border: 1px solid var(--primary);

                    .line {
                        background-color: var(--primary);
                        left: 18px;

                    }

                    &::after {

                        background-color: var(--white);

                    }
                }

                .content {

                    h3 {
                        color: red;
                    }
                }
            }

            .icon {
                transition: all .3s;

                width: 25px;
                height: 25px;
                background-color: var(--white);
                border: 1px solid var(--primary);
                border-radius: 50%;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: var(--primary);
                    border-radius: 50%;
                    left: calc(50% - 7.5px);
                    top: calc(50% - 7.5px);
                }
            }

            .line {
                transition: all .3s;
                position: absolute;
                width: 3px;
                height: 80px;
                background-color: var(--line);
                left: 10px;
                bottom: -90px;
            }

            .content {
                line-height: 20px;
                width: 300px;

                .step {
                    font-size: .8rem;
                    color: var(--secondary_font);
                }

                h3 {
                    letter-spacing: 3px;
                    transition: all .3s;

                }
            }
        }
    }
}

@media (width <= 800px) {
   
}

@media (width<=500px) {
    .container {
        padding: 120px 4px;
        .title {
            font-size: 2rem;
        }

        .steps {
            li {
                width: 100%;
                padding: 0px 20px;

                &.active {
                    transition: all .3s;
                    .icon {
                        transition: all .3s;
                        width: 35px;
                        height: 35px;
                        .line{
                            left: 15px;
                        }
                    }
                }

                .icon {
                    min-height: 35px;
                    min-width: 35px;
                }

                .line{
                    left: 15px;
                    bottom: -100px;
                }
                .content {
                    width: 200px;

                    h3 {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}