<div class="container">
    <h1 class="title">Progress</h1>
    <ul class="steps">
        <li #box class="active">
            <div class="icon">
                <div class="line"></div>
            </div>
           
            <div class="content">
                <div class="step">
                    <span>STEP 1</span>
                </div>
                <h3>Basic Details</h3>
            </div>
        </li>
        <li #box2>
            <div class="icon">
                <div class="line"></div>
            </div>
            
            <div class="content">
                <div class="step">
                    <span>STEP 2</span>
                </div>
                <h3>Basic Details</h3>
            </div>

        </li>
        <li #box3>
            <div class="icon"></div>
            <div class="content">
                <div class="step">
                    <span>STEP 3</span>
                </div>
                <h3>Basic Details</h3>
            </div>
        </li>
    </ul>

</div>