<div class="container">
    <h1 class="title">ETAPAS</h1>
    <ul class="steps">
        <li #box class="active" class="box">
            <div class="icon">
                <div class="line"></div>
            </div>
           
            <div class="content">
                <div class="step">
                    <span>STEP 1</span>
                </div>
                <h3>Briefing Inteligente</h3>
            </div>
        </li>
        <li #box2 class="box2" >
            <div class="icon">
                <div class="line"></div>
            </div>
            
            <div class="content">
                <div class="step">
                    <span>STEP 2</span>
                </div>
                <h3>Criação do Seu Site</h3>
            </div>

        </li>
        <li #box3 class="box3">
            <div class="icon"></div>
            <div class="content">
                <div class="step">
                    <span>STEP 3</span>
                </div>
                <h3>Impulsione Seu Negócio</h3>
            </div>
        </li>
    </ul>

</div>