/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
:root {
    --primary: tomato;
    --white:#fff;
    --main_font:rgb(22, 22, 22);
    --secondary_font:rgb(61, 61, 61);
    --background:#f5f5f5;
    --background_secondary: rgb(31, 30, 30);
  }
  