<div class="container" id="about">
    <div class="image_container">
     
        <div class="circleTop"> </div>
        <div class="circleBottom"> <img src="/eu2.png" alt="Josué" class="eu">
          <img src="/asset2.png" alt="" class="asset">
        </div>
    </div>
    <div class="content">
      <h1>Por que <span>me contratar</span> para seu próximo projeto?</h1>
      <p>Entrego soluções criativas, funcionais e sob medida para o seu negócio. Com foco em resultados, transformo ideias em experiências digitais de alto impacto.</p>

        <ul class="dados">
            <li>
              <span>20+</span> 
              <h3>Projetos completos</h3> 
            </li>
           
        </ul>
        <a
  href="https://wa.me/5533988711659?text=Quero%20fazer%20um%20or%C3%A7amento%21"
  target="_blank"
  rel="noopener noreferrer"
>
        <button>Agendar</button>
      </a>
    </div>
</div>