<div class="container">
    <div class="image_container">
     
        <div class="circleTop"> </div>
        <div class="circleBottom"> <img src="/eu2.png" alt="Josué"></div>
    </div>
    <div class="content">
      <h1>Por que <span>me contratar</span> para seu próximo projeto?</h1>
      <p>Entrego soluções criativas, funcionais e sob medida para o seu negócio. Com foco em resultados, transformo ideias em experiências digitais de alto impacto.</p>

        <ul class="dados">
            <li>
              <span>20+</span> 
              <h3>Projetos completos</h3> 
            </li>
           
        </ul>
        <button>Agendar</button>
    </div>
</div>