<div class="container">

    <div class="faixa" style="--width: 27%;--height:50px; --quantity:4">
        <ul>
            
            <li style="--position:1">ESTRATÉGIA
                <fa-icon [icon]="faStar"></fa-icon>
            </li>
            <li style="--position:2">DESIGN
                <fa-icon [icon]="faStar"></fa-icon>
            </li>
            <li style="--position:3">PERFORMACE
                <fa-icon [icon]="faStar"></fa-icon>
            </li>
            <li style="--position:4">RESULTADOS
                <fa-icon [icon]="faStar"></fa-icon>
            </li>
            <!-- <li style="--position:5">STRATEGY5</li> -->
        </ul>
    </div>
</div>